.instruction {
  width: 469px;
  height: auto;
  display: flex;
  box-shadow: -3px -3px 7px #eeeeeeb2, 4px 4px 5px rgb(218 218 219 / 95%);
  background: white;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 41px;
}

.in-test-instructions {
  line-height: 32px;
  font-weight: 400;
  width: 560px;
  font-size: 16px;
}

.left-fm,
.right-fm {
  position: absolute;
  height: 240px;
  width: 200px;
  object-fit: contain;
}

.left-fm {
  bottom: 20px;
  left: 40px;
}

.right-fm {
  bottom: 20px;
  right: 40px;
}

.star-fm {
  display: block;
}

.star,
.cross {
  width: 130px;
  /* display: block; */
  margin: auto;
}

.instruction h4 {
  line-height: 31.4px;
  font-weight: 400;
}
.stimulus-img {
  width: 200px;
}
.right-arrow {
  width: 67px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .stimulus-img {
    margin-top: -235px;
  }
}

@media (max-width: 715px) {
  .left-fm,
  .right-fm {
    width: 150px;
  }
}

@media (max-width: 695px) {
  .instruction {
    width: 360px;
    margin-bottom: 70px;
  }
}

@media (max-width: 500px) {
  .left-fm {
    left: 20px;
  }
  .right-fm {
    right: 20px;
  }
}
