.face-img {
    height: 300px;
    border: none;
    padding: 2px;
    background: white;
}

.instruction-iat{
  width: 469px;
  height: 240px;
  display: flex;
  box-shadow: -3px -3px 7px #eeeeeeb2, 4px 4px 5px rgb(218 218 219 / 95%);
  background: white;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 41px;
}

.instruction-iat h3{
  margin: 11px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.data-name{
  font-size: 3vh;
  margin: 2px 0px;
}

.right-arrow{
  width: 59px;
  margin-top: 16px;
}

.style-instruction {
  max-width: 480px;
  height: 240px;
  box-sizing: border-box;
  padding: 28px 36px;
  display: flex;
  box-shadow: -3px -3px 7px #eeeeeeb2, 4px 4px 5px rgb(218 218 219 / 95%);
  background: white;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-arrow{
      width: 59px;
    margin-top: 16px;
}

.style-instruction h3 {
  margin: 11px 0px;
  font-size: 16px;
  font-weight: 500;
}

.clickerImage{
  width: inherit;
  height: 53%;
  object-fit: scale-down;
}

.clickerImageCombined_Race{
  width: 210px
}

  
@media (max-width: 595px) {
    .face-img {
      height: 233px !important;
      padding: 0px;
      border-radius: 0px ;
    } 
  
      main{
      background: white;
    }
  
      .instruction-iat h3{
      font-size: 2vh !important;
      line-height: 30px;  
      margin: 2px 0px;
      }

      .instruction-iat{
        width: 311px;
        height: 240px;
        padding: 0px 29px;
        box-sizing: border-box;
      }

      .instruction{
        width: 100vw
      }

      .instruction h3{
        font-size: 14px;
      }

      #wrong{
        font-size: 14px;
      }
    
      .style-instruction {
        padding: 33px 28px;
        width: 262px;
      }
    
      .style-instruction h3 {
        font-size: 2vh;
      }

      .clickerImage{
        width: 19vw;
      }

      .clickerImageCombined{
        width: 39vw;
        margin-left: 4px;
      }

      .clickerImageCombined_Race{
        width: 39vw;
        margin-left: -2px;
      }

      .clickerImageToy{
        width: 23vw;
      }

      .wrong-icon{
        height: 21px
      }

      .feedbacksect{
        border: solid 3px #ffffff;
      }
  }