/* Fill entire background with green? */
#test-border {
    width: 63vw;
    height: 99vh;
    border: solid 9px #85E9BF;
    /* border-top: none; */
    /* border-bottom: none; */
    /* border-radius: 49px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px
}

#wrong {
    position: absolute;
    top: 17.5vh;
}

#wrong-ibt {
    top: 13vh;
    position: absolute;
}

@media (max-width: 500px) {
    #test-border {
        border: none;
        width: 100vw
    }
}