/* Fill entire background with green? */

*,
font {
  font-weight: inherit;
}
#test-border {
  width: 63vw;
  height: 93vh;
  border: solid 9px #85e9bf;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
  padding: 0px 20px;
}

#test-border main {
  background: transparent;
}

#wrong {
  position: absolute;
  top: 17.5vh;
}

#wrong h4 {
  min-width: 269px;
  font-weight: 400;
  margin: auto;
  font-size: 16px;
}

#wrong-ibt {
  top: 11vh;
  position: absolute;
}

@media (max-width: 500px) {
  /* #test-border {
    border: none;
  } */
}

@media (max-height: 715px) {
  #test-border {
    width: 86vw;
  }

  #wrong {
    top: 12px;
  }
}

@media (max-height: 715px) and (max-width: 1050px) {
  #test-border {
    width: 86vw;
  }

  #test-border .right-choice {
    right: 10px;
  }

  #test-border .left-choice {
    left: 10px;
  }

  #wrong {
    top: 12px;
  }
}

@media (max-width: 450px) {
  #test-border {
    min-width: 344px;
  }
}
